@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0d0d0d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
  --font-logo: var(--font-nunito-sans), "Nunito Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

::selection {
  background-color: rgba(7, 98, 106, 0.20);
  color: #07626A;
}

::-moz-selection {
  background-color: rgba(7, 98, 106, 0.20);
  color: #07626A;
}
